.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.signup form {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.signup form h3 {
    color: #333;
}

.signup form input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.signup form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Style the submit button on hover */
.signup form button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 600px) {
    .signup form {
        max-width: 300px;
    }
}